#include <Arduino.h>
#include <configurations.h>

String Configurations::ID = "development_1";
String Configurations::NAME = "SENSORIO";
String Configurations::VERSION = "development";
bool Configurations::SERIAL_LOGGING = true;

String Configurations::WIFI_SSID = "";
String Configurations::WIFI_PASSWORD = "";

String MQTT_SERVER = "";
String MQTT_TOPIC = "sensorio/";
